/*Primera Seccion*/
header{
    width: 100%;
    height: 70px;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;

}
.conteiner{
    width: 98%;
    margin: auto;
    
}
.conteiner a{
    display: block;
    text-decoration: none;
    position: relative;
    color:#333;
    float: right;
    border: 1px solid #fff;
    width: 60px;
    height: 20px;
    padding: 3px;
    background: #fff;
}
/*Segunda Seccion*/
body{
    background-image: url(../IMG/regis_usu.jpg);
	background-size: cover;
}
section{
    margin-top: 80px;
    position: relative;
    -moz-opacity:.50;opacity:.80;

}

article{
    float: left;
    padding: 25px;

    height: 100%; /* only for demonstration, should be removed */
}

table{
    border-collapse: collapse;
    border: 0.5px solid #333;
    width: 80%;
}
table th, td{
    text-align: center;
    border: 1px solid rgb(240, 238, 238);
}
tr:nth-child(even){background-color: #e6e3e3}

th{
    background-color: #333;
    color: #fff;
}
#botones a{
    text-decoration: none;
    background: #333;
    color: #fff;
    border: 1px solid #fff;
    padding: 4px;
    text-align: center;
    display: inline-block;

}
#botones a:hover, a:active {
    background-color: rgba(31, 146, 93, 0.733);
  }










