<%- include('partials/_header') -%>

    <div class="container">

        <h2 class="mt-4">¡Mira todas las mochilas que esperan por ti!</h2>
        <p class="mt-4">Mochilas M cuenta con una gran variedad de mochilas. <span class="text-warning">¡Escoge la que más te guste!</span></p>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img src="https://mejoresmochilas.org/wp-content/uploads/2019/06/mejores-mochilas-escolares-1.jpg" class="card-img-top" alt="categoria">
                    <div class="card-body">
                        <h4 class="card-title">Nombre de Categoría</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="card-link">Ver más mochilas</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"> Aqui otra</div>
            <div class="col-sm-4">Aqui otra</div>
        </div>
    </div>

 <%- include('partials/_footer') -%>